.home-page-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

.home-genres-dock {
  padding: 10px 54px 20px 54px;
}

@media (max-width: 768px) {
  .home-genres-dock {
    padding: 6px 20px 14px 20px;
  }
}
